@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Made by Duval Le Blanc</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
